@charset "utf-8";
@import "compass";
@import "reset";
@import "mixin";

body {
	// background: rgba(255, 100, 100, 0.2);
	// background: hsla(255, 100%, 30%, 0.5);
	// background-image: linear-gradient(90deg, #abbaab, white);
}


/* ドットインストール
   ========================================================================== */
// input {
// 	font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", "Osaka", sans-serif;
// 	@include fs(18);
// 	padding: 3px 10px;
// }

// button, input[type="button"] {
// 	width: 200px;
// 	color: white;
// 	@include fs(24);
// 	text-align: center;
// 	cursor: pointer;
// 	appearance: none;
// 	padding: 5px 0;
// 	border: 0;
// 	border-radius: 5px;
// 	box-shadow: 0 4px 0 #0066ff;
// 	background: #00aaff;
// 	&:hover {
// 		@include opacity(0.7);
// 	}
// }


/* ストップウォッチ
   ========================================================================== */
/*
#timer {
	color: #00aaff;
	font-family: Arial, sans-serif;
	font-size: 100px;
	margin-bottom: 30px;
}

button {
	width: 150px;
	margin: 0 20px;
}

.inactive {
	cursor: default;
	@include opacity(0.5);
}
*/


/* 5秒当てゲーム
   ========================================================================== */
/*
#result {
	color: #00aaff;
	font-weight: bold;
	@include fs(36);
	margin-bottom: 40px;
}
*/


/* 割り勘電卓
   ========================================================================== */
/*
section {
	margin-bottom: 30px;
}

h1 {
	@include fs(32);
	margin-bottom: 20px;
}

li:first-child {
	margin-bottom: 10px;
}

input {
	width: 150px;
	@include fs(18);
	text-align: right;
	padding: 5px;
}

#btn {
	margin-bottom: 30px;
}
*/


/* 誕生日診断
   ========================================================================== */
/* 
h1 {
	margin-bottom: 30px;
}

li:first-child {
	margin-bottom: 40px;
}

input[type="button"] {
	margin-bottom: 40px;
}
 */


/* 王様ゲーム
   ========================================================================== */
/* 
h1 {
	margin-bottom: 30px;
}

li:first-child {
	margin-bottom: 40px;
}

input[type="button"] {
	margin-bottom: 40px;
}
*/
